<p id="notice"><%= notice %></p>

<h1>Detalle Carritos</h1>

<table>
  <thead>
    <tr>
      <th>Id producto</th>
      <th>Carrito</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalle_carritos.each do |detalle_carrito| %>
      <tr>
        <td><%= detalle_carrito.id_producto %></td>
        <td><%= detalle_carrito.carrito_id %></td>
        <td><%= detalle_carrito.status %></td>
        <td><%= link_to 'Show', detalle_carrito %></td>
        <td><%= link_to 'Edit', edit_detalle_carrito_path(detalle_carrito) %></td>
        <td><%= link_to 'Destroy', detalle_carrito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle Carrito', new_detalle_carrito_path %>
